/* I used * selector in CSS. All margines default to 0. */
* {
    margin: 0px;
}

body {
    height: 100vh;
    background-color: #E6E6FA;
    flex-direction: column;
    display: flex;
    align-items: center;
    font-family: cursive;
    padding: 10px;
}

button {
    padding: 0;
    border: none;
    background: none;
    font-family: cursive;
    font-size: medium;
}

/* This is the hover pseudoselector. */
button:hover {
    color: blueviolet;
}

.elements {
    position: relative;
}

/* These are id selectors. They are different boxes on the homepage to locate the images.*/
#box-one {
    height: 180px;
    width: 250px;
    position: relative;
    background-color: blue;
    animation-name: movearound;
    animation-duration: 30s;
    animation-iteration-count: infinite;
}

@keyframes movearound {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:300px; top:0px;}
    50%  {background-color:blue; left:300px; top:300px;}
    75%  {background-color:green; left:0px; top:300px;}
    100% {background-color:red; left:0px; top:0px;}
}

#box-two {
    height: 220px;
    width: 220px;
    background-color: green;
    position: relative;
    left: 500px;
    bottom: 250px;
}

#box-three {
    height: 220px;
    width: 350px;
    background-color: red;
    position: relative;
    right: 390px;
    bottom: 50px;
}

#box-three:hover {
    transform: scale(1.8, 1.8);
    transition-duration: 3s;
}

/* These are class selectors. Box uses the flex layout.*/
.box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: solid black;
    text-align: center;
    color: white;
}

/* Home page grid layout on top for section bars. */

.navbar {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 100%;
    background-color: rgb(213, 165, 255);
    border-radius: 10px;
}

.nav-item {
    color: white;
    padding: 10px;
    text-align: center;
}

/* Social Icons */

.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}

.fa-google {
    background: #dd4b39;
    color: white;
}

.fa-phone {
    background: lightgreen;
    color: white;
}
  
.aboutbox {
    margin: 50px;
}

/* These are the boxes in the portfolio. */
.box1 {
    height: 120px;
    width: 200px;
    background-color: #d375fe;
    text-align: center;
    border-color: violet;
    border-radius: 20px;
    margin: 30px;
    color: white;
    position: absolute;
    right: 580px;
    bottom: 50px;
}

.box2 {
    height: 200px;
    width: 200px;
    background-color: #d375fe;
    text-align: center;
    border-color: violet;
    border-radius: 20px;
    margin: 40px;
    color: white;
    position: absolute;
    right: 170px;
    bottom: 0px;
}

.box3 {
    height: 320px;
    width: 280px;
    background-color: #d375fe;
    text-align: center;
    border-color: violet;
    border-radius: 20px;
    margin: 100px;
    color: white;
    position: absolute;
    left: 500px;
    top: 10px;
}

.box4 {
    height: 120px;
    width: 280px;
    background-color: #d375fe;
    text-align: center;
    border-color: violet;
    border-radius: 20px;
    margin: 90px;
    color: white;
    position: absolute;
    right: 50px;
    bottom: 330px;
}

.box5 {
    height: 220px;
    width: 350px;
    background-color: #d375fe;
    text-align: center;
    border-color: violet;
    border-radius: 20px;
    margin: 93px;
    color: white;
    position: absolute;
    left: 20px;
    bottom: 180px;
    transition: top ease 0.5s;
}

.box1:hover {
    box-shadow: 0 0 10px darkviolet;
}
.box2:hover {
    box-shadow: 0 0 10px darkviolet;
}
.box3:hover {
    box-shadow: 0 0 10px darkviolet;
}
.box4:hover {
    box-shadow: 0 0 10px darkviolet;
}
.box5:hover {
    box-shadow: 0 0 10px darkviolet;
}

/* Here are some font changes. */
.backbutton {
    color: blueviolet;
    padding: 0;
    border: none;
    background: none;
    font-family: cursive;
    font-size: medium;
}

/* Another hover property on the "back" buttons. */
.backbutton:hover {
    color: white;
}

.portfolioBack {
    position: absolute;
    bottom: 0px;
}